<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap = "tests/bootstrap.php"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    verbose                     = "true"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false">
	<testsuites>
		<testsuite name="Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="ENVIRONMENT" value="test"/>
		<!-- WordPress env constants -->
		<env name="FAKE_APP_DIR_PATH" value="/srv/users/dev/apps/example"/>
		<env name="WP_HOME" value="https://example.com"/>
		<env name="WP_SITEURL" value="https://example.com/wp"/>
		<!-- <env name="DB_NAME" value="wordpress_testdb"/>
		<env name="DB_USER" value="root"/>
		<env name="DB_PASSWORD" value="password"/>
		<env name="DB_HOST" value="127.0.0.1"/>
		<env name="DB_PREFIX" value="wp_test_" /> -->
		<!-- <env name="WP_ENVIRONMENT_TYPE" value="development"/> -->
	</php>
	<coverage>
		<include>
			<directory>src</directory>
		</include>
	</coverage>
</phpunit>
